<div >
  <h2>Generación de Programación</h2>
</div>
<body>
<form class="formulario" [formGroup]="userForm" (ngSubmit)="onSubmit()">

  <div class="input-grid">
    <div class="input-group">
      <label for="fecha">Nombre:</label>
      <input type="text" [(ngModel)]="nombreProgramacion" placeholder="Ingresa texto">
    </div>
    <div class="input-group">
      <label for="fecha">Fecha:</label>
      <input
        type="text"

        placeholder="Seleccione una fecha"
        [(ngModel)]="selectedDate"
        ngbDatepicker
        #datepicker="ngbDatepicker"
        (click)="datepicker.toggle()"
        (ngModelChange)="onDateSelected($event);">
    </div>
    <div class="input-group">
      <label for="vehiculo">Vehiculo:</label>
      <input type="text" id="vehiculo" formControlName="vehiculo">
      <div *ngIf="userForm.controls['vehiculo'].invalid && (userForm.controls['vehiculo'].dirty || userForm.controls['vehiculo'].touched)">
        El vehiculo es requerido.
      </div>
    </div>
  </div>

  <div class="input-grid">
    <div class="input-group">
      <label for="conductor">Conductor:</label>
      <input type="text" id="conductor" formControlName="conductor">
    </div>
    <div class="input-group">
    <label for="auxiliar1">Auxiliar1:</label>
    <input type="text" id="auxiliar1" formControlName="auxiliar1">
  </div>
    <div class="input-group">
    <label for="auxiliar2">Auxiliar2:</label>
    <input type="text" id="auxiliar2" formControlName="auxiliar2">
  </div>

  </div>

  <div class="input-grid">
    <div class="input-group">
    <label for="servicio">Servicio:</label>
    <input type="text" id="servicio" formControlName="servicio">
  </div>
    <div class="input-group">
    <label for="primerPunto">Primer Punto:</label>
    <input type="text" id="primerPunto" formControlName="primerPunto">
  </div>
    <div class="input-group">
    <label for="segundoPunto">Segundo Punto:</label>
    <input type="text" id="segundoPunto" formControlName="segundoPunto">
  </div>

  </div>

  <div class="input-grid">
    <div class="input-group">
    <label for="mensaje">Mensaje:</label>
    <input type="text" id="mensaje" formControlName="mensaje">
  </div>
    <div class="input-group">
    <label for="nota">Nota:</label>
    <input type="text" id="nota" formControlName="nota">
  </div>
  </div>

<button type="submit" [disabled]="userForm.invalid" class="submit-button">Guardar Programación</button>
</form>
</body>
