<div class="container">
  <h2>Agregar Conductor</h2>
  <form [formGroup]="formulario1" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="nuevoConductor.name"
      formControlName="name" name="name" required>
    </div>
    <div class="form-group">
      <label for="edad">Apellido:</label>
      <input type="text" class="form-control" id="lastName" [(ngModel)]="nuevoConductor.lastName"
      formControlName="lastName" name="lastName" required>
    </div>
    <div id="div-alert" class="form-group">
      <label for="email">Tipo:</label>
      <input type="text" class="form-control" id="typePerson" [(ngModel)]="nuevoConductor.typePerson"
      formControlName="typePerson" name="typePerson" required>
    </div>
    <button type="submit" class="btn btn-primary" (click)="changeSuccessMessage()">Agregar Conductor</button>

    <ngb-alert #selfClosingAlert *ngIf="successMessage" type="success" (closed)="successMessage = ''"
    >{{ successMessage }}
    </ngb-alert>


  </form>
</div>
