<div class="container">
  <h2>Agregar datos de Conductor</h2>
  <form [formGroup]="formulario1" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="nuevoConductor.name"
      formControlName="name" name="name" required>
    </div>
    <div class="form-group">
      <label for="edad">Apellido:</label>
      <input type="text" class="form-control" id="lastName" [(ngModel)]="nuevoConductor.lastName"
      formControlName="lastName" name="lastName" required>
    </div>
    <div class="form-group">
      <label for="email">Tipo:</label>
      <input type="text" class="form-control" id="typePerson" [(ngModel)]="nuevoConductor.typePerson"
      formControlName="typePerson" name="typePerson" required>
      <div *ngIf="formulario1.controls['typePerson'].invalid && (formulario1.controls['typePerson'].dirty || formulario1.controls['typePerson'].touched)">
        <div *ngIf="formulario1.controls['typePerson'].errors?.['required']">Debe escribir si es conductor.</div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Agregar Conductor</button>
  </form>
</div>
