<nav>
  <ul class="navbar">
    <li><a routerLink="/programacion">Página de Programación</a></li>
    <li><a routerLink="/personal">Datos</a>
      <ul class="submenu">
        <li><a routerLink="/personal/agregar-persona">Agregar Persona</a></li>
        <li><a routerLink="/personal/listar-persona">Listado de Personas</a></li>
        <li><a routerLink="/personal/agregar-conductor">Agregar Conductor</a></li>
        <li><a routerLink="/personal/listar-conductor">Listado de Conductor</a></li>
        <li><a routerLink="/personal/agregar-auxiliar">Agregar Auxiliar</a></li>
        <li><a routerLink="/personal/listar-auxiliar">Listado de Auxiliar</a></li>
        <li><a routerLink="/personal/agregar-tipoVehiculo">Agregar Tipo de Vehiculo</a></li>
        <li><a routerLink="/personal/listar-tipoVehiculo">Listado de Tipos de Vehiculos</a></li>
        <li><a routerLink="/personal/agregar-vehiculo">Agregar Vehiculo</a></li>
        <li><a routerLink="/personal/listar-vehiculo">Listado de Vehiculos</a></li>
      </ul>
    </li>
    <li><a routerLink="/pedidos">Página de Pedidos</a></li>
    <li><a routerLink="/generar-programacion">Generar Programación</a></li>
    <li><a routerLink="/gestion-programacion">Gestión de Programación</a></li>
    <li><a routerLink="/informes">Informes</a></li>
  </ul>
</nav>
