<nav>
  <ul class="navbar">
    <li><a routerLink="/programacion">Página de Programación</a></li>
    <li><a routerLink="/personal">Página de Personal</a>
      <ul class="submenu">
        <li><a routerLink="/personal/agregar-persona">Agregar Persona</a></li>
        <li><a routerLink="/personal/listar-persona">Listado de Personas</a></li>
      </ul>
    </li>
    <li><a routerLink="/pedidos">Página de Pedidos</a></li>
    <li><a routerLink="/generar-programacion">Generar Programación</a></li>
    <li><a routerLink="/gestion-programacion">Gestión de Programación</a></li>
    <li><a routerLink="/informes">Informes</a></li>
  </ul>
</nav>
