<div ngbDropdown class="d-inline-block">
  <button class="btn btn-outline-primary" id="dropdownBasic1"  routerLink="/programacion">Programación</button>
  <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>Datos</button>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
    <button ngbDropdownItem routerLink="/personal/agregar-conductor">Agregar Conductor</button>
    <button ngbDropdownItem routerLink="/personal/listar-conductor">Listado de Conductor</button>
    <div class="dropdown-divider"></div>
    <button ngbDropdownItem routerLink="/personal/agregar-auxiliar">Agregar Auxiliar</button>


    <button ngbDropdownItem routerLink="/personal/listar-auxiliar">Listado de Auxiliar</button>
    <div class="dropdown-divider"></div>
    <button ngbDropdownItem routerLink="/personal/agregar-tipoVehiculo">Agregar Tipo de Vehiculo</button>


    <button ngbDropdownItem routerLink="/personal/listar-tipoVehiculo">Listado de Tipos de Vehiculos</button>
    <div class="dropdown-divider"></div>
    <button ngbDropdownItem routerLink="/personal/agregar-vehiculo">Agregar Vehiculo</button>

    <button ngbDropdownItem routerLink="/personal/listar-vehiculo">Listado de Vehiculos</button>
    <div class="dropdown-divider"></div>
    <button ngbDropdownItem routerLink="/personal/agregar-persona">Agregar Persona</button>
    <button ngbDropdownItem routerLink="/personal/listar-persona">Listado de Personas</button>

  </div>

  <button class="btn btn-outline-primary" id="dropdownBasic3"  routerLink="/pedidos">Página de Pedidos</button>

  <button class="btn btn-outline-primary" id="dropdownBasic4"  routerLink="/generar-programacion">Generar Programación</button>

  <button class="btn btn-outline-primary" id="dropdownBasic5"  routerLink="/gestion-programacion">Gestión de Programación</button>
  <button class="btn btn-outline-primary" id="dropdownBasic6"  routerLink="/informes">Informes</button>

</div>
