/* navbar.component.css */

/* Estilos para el contenedor principal de la navbar */
.navbar {
  background-color: #333; /* Cambia el color de fondo de la barra de navegación */
  padding: 10px; /* Agrega un espacio interno para los elementos dentro de la navbar */
  color: white; /* Cambia el color del texto a blanco */
  display: flex; /* Para alinear los elementos horizontalmente */
  justify-content: space-between; /* Para distribuir los elementos en ambos extremos */
}

/* Estilos para los enlaces (elementos <a>) dentro de la navbar */
.navbar a {
  color: white; /* Cambia el color del texto de los enlaces */
  text-decoration: none; /* Elimina la decoración de subrayado */
  padding: 5px 10px; /* Agrega espaciado a los enlaces */
}

/* Estilos para los enlaces cuando se les hace hover (pasar el mouse por encima) */
.navbar a:hover {
  background-color: #555; /* Cambia el color de fondo cuando se pasa el mouse por encima */
  border-radius: 5px; /* Agrega bordes redondeados a los enlaces */
}


.submenu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.navbar li:hover .submenu {
  display: block;
}

.submenu li {
  padding: 10px;
}

.submenu li a {
  color: black;
  text-decoration: none;
}

.submenu li a:hover {
  background-color: #ddd;
}
